@page
<div id="meetings">
	<ul>
		<li v-for="(meeting, id) in model.meetings">
			<a :href="'/meeting/index/' + id"><h3>{{ meeting.name }} ({{ meeting.agendaItemCount }})</h3></a>
		</li>
	</ul>
	<div v-if="disconnected" class="error-banner">Disconnected</div>
	<div>
		<input type="text" v-model="newMeetingName" placeholder="Meeting Name" v-on:keyup.enter="startMeeting" v-on:focus="clearError" v-on:keydown="clearError"/><button v-on:click="startMeeting">Start</button>
	</div>
	<div v-if="hasError" class="error-banner">{{ errorMessage }}</div>
</div>

<script src="~/lib/vue/vue.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
	var app = new Vue({
		el: '#meetings',
		data: {
			newMeetingName: "",
			disconnected: true,
			errorMessage: "",
			model: {
				meetings: {}
			}
		},
		methods: {
			loadMeetings() {
				fetch('/api/meetings')
					.then(response => response.json())
					.then(model => this.model = model);
			},
			startMeeting() {
				fetch(
					'/api/meetings',
					{
						method: 'POST',
						headers: { 'Accept': '*/*', 'Content-Type': 'application/json' },
						body: JSON.stringify({ name: this.newMeetingName })
					}
				)
					.then(response => {
						if (response.ok)
							this.newMeetingName = "";
						else
							response.text().then(error => this.errorMessage = error);
					})
					.catch(error => this.errorMessage = error);
			},
			clearError() {
				this.errorMessage = null;
			}
		},
		computed: {
			hasError: function() { return !!this.errorMessage; }
		},
		created() {
			this.loadMeetings();
		}
	});

	var connection = new signalR.HubConnectionBuilder().withUrl("/signalr/meetingsHub").build();

	connection.on("OnMeetingAddedToList", (id, name) => Vue.set(app.model.meetings, id, { name: name, id: id, agendaItemCount: 0 }));
	connection.on("OnMeetingAgendaCountChanged", (id, newCount) => app.model.meetings[id].agendaItemCount = newCount);

	function start() {
		connection
			.start()
			.then(() => {
				console.info("Connected");
				app.disconnected = false;
			})
			.catch(err => {
				console.error(err.toString());
				setTimeout(() => start(), 1000);
			});
	}

	connection.onclose(() => {
		console.info("Disconnected, retrying...");
		app.disconnected = true;
		start();
	});

	start();
</script>