@page
<div id="meetings">
	<ul>
		<li v-for="meeting in meetings">
			<h3>{{ meeting.name }}</h3>
		</li>
	</ul>
</div>

<script src="~/lib/vue/vue.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
	var app = new Vue({
		el: '#meetings',
		data: {
			meetings: []
		},
		methods: {
			loadMeetings() {
				fetch('/meetings')
					.then(response => response.json())
					.then(meetings => this.meetings = meetings);
			}
		},
		created() {
			this.loadMeetings();
		}
	});

	var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44333/meetingsHub").build();

	connection.on("OnMeetingAddedToList", (id, name) => app.meetings.push({ name: name, id: id }));

	connection.start().catch(err => console.error(err.toString()));
</script>