@page
@{
	var meetingId = (Guid) ViewBag.MeetingId;
}
<div id="meeting">
	<h1>{{model.name}}</h1>
	<ul>
		<li v-for="agendaItem in model.agenda">
			<h3>{{ agendaItem }}</h3>
		</li>
	</ul>
	
	<div>
		<input type="text" v-model="newAgendaItem" placeholder="Agenda Item" />

		<button v-on:click="addAgendaItem">Add</button>
	</div>
</div>

<script src="~/lib/vue/vue.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
	var app = new Vue({
		el: '#meeting',
		data: {
			newAgendaItem: "",
			model: {
				name: "",
				agenda: []
			}
		},
		methods: {
			loadModel() {
				fetch('/api/meeting/@meetingId')
					.then(response => response.json())
					.then(model => this.model = model);
			},
			addAgendaItem() {
				fetch(
					'/api/meeting/@meetingId/addtoagenda',
					{
						method: 'POST',
						headers: { 'Accept': '*/*', 'Content-Type': 'application/json' },
						body: JSON.stringify({ description: this.newAgendaItem })
					}
				);
			}
		},
		created() {
			this.loadModel();
		}
	});
</script>